:root {
    --card-front-color: #144480;
    --card-back-color: rgba(0, 244, 191, 0.2);
    --text-color: #DBE4EF;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

header {
    background: #144480;
    color: white;
    text-align: center;
    padding: 1rem;
}

.cartoes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.cartao {
    perspective: 1000px;
    margin: 1rem;
    width: 300px;
    height: 200px;
    position: relative;
}

.cartao__conteudo {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    text-align: center;
    padding: 1rem;
    border: 4px solid var(--card-front-color);
    box-sizing: border-box;
}

.cartao__conteudo__pergunta {
    background-color: var(--card-front-color);
    color: var(--text-color);
}

.cartao__conteudo__resposta {
    background-color: var(--card-back-color);
    transform: rotateY(180deg);
    color: var(--text-color);
}

@media (max-width: 560px) {
    .cartao {
        width: 100%;
        margin: 0.5rem;
    }

    .cartao__conteudo {
        font-size: 3.8vw;
    }
}
